<div class="select-data">
    <!-- Selecionar tipo de veículo (carro, moto ou caminhão)-->
    <select [(ngModel)]="vehicleType" ngDefaultControl class="form-select form-select-lg mb-3">
        <option [value]="1">Carro</option>
        <option [value]="2">Moto</option>
        <option [value]="3">Caminhão</option>
    </select>

    <div [ngSwitch]="vehicleType" ngDefaultControl>
        <!-- Mostrar select com as marcas dependendo do tipo de veículo escolhido. por exemplo: 
        caso 1 para carro, caso 2 para moto e caso 3 para caminhão -->
        <select *ngSwitchCase="'1'" [(ngModel)]="itemCategories" (change)="listCarModel(itemCategories)" class="form-select form-select-lg mb-3 vehicle-data">
            <option selected>Selecione a marca</option>
            <option *ngFor="let type of carType" [value]="type.codigo">{{type.nome}}</option>
        </select>

        <select *ngSwitchCase="'2'" [(ngModel)]="itemCategories"  (change)="listMotoModel(itemCategories)" class="form-select form-select-lg mb-3">
            <option selected>Selecione a marca</option>
            <option *ngFor="let type of motoType" [value]="type.codigo">{{type.nome}}</option>
        </select>

        <select *ngSwitchCase="'3'" [(ngModel)]="itemCategories"  (change)="listTruckModel(itemCategories)" class="form-select form-select-lg mb-3">
            <option selected>Selecione a marca</option>
            <option *ngFor="let type of truckType" [value]="type.codigo">{{type.nome}}</option>
        </select>
    </div>

    <div [ngSwitch]="vehicleType" ngDefaultControl>
        <!-- selecionar modelo do veículo -->
        <select *ngSwitchCase="'1'" [(ngModel)]="carModelValue" (change)="listCarYear(itemCategories, carModelValue)"
            class="form-select form-select-lg mb-3">
            <option value="0">Selecione o modelo</option>
            <option *ngFor="let model of getModels" [value]="model.codigo">{{model.nome}}</option>
        </select>

        <!-- selecionar modelo do veículo -->
        <select *ngSwitchCase="'2'"  [(ngModel)]="motoModelValue" (change)="listMotoYear(itemCategories, motoModelValue)"
            class="form-select form-select-lg mb-3">
            <option selected>Selecione o modelo</option>
            <option *ngFor="let model of getModels" [value]="model.codigo">{{model.nome}}</option>
        </select>

        <!-- selecionar modelo do veículo -->
        <select *ngSwitchCase="'3'" [(ngModel)]="truckModelValue" (change)="listTruckYear(itemCategories, truckModelValue)"
            class="form-select form-select-lg mb-3">
            <option selected>Selecione o modelo</option>
            <option *ngFor="let model of getModels" [value]="model.codigo">{{model.nome}}</option>
        </select>

    </div>

    <div [ngSwitch]="vehicleType">
        <!-- selecionar ano do veículo -->
        <select *ngSwitchCase="'1'" [(ngModel)]="yearValue" (change)="vehicleFIPEPrice(itemCategories, carModelValue, yearValue)" class="form-select form-select-lg mb-3">
            <option selected>Selecione o ano</option>
            <option *ngFor="let year of yearList" [value]="year.codigo">{{year.nome}}</option>
        </select>

        <select *ngSwitchCase="'2'" class="form-select form-select-lg mb-3">
            <option selected>Selecione o ano</option>
            <option *ngFor="let year of yearList" [value]="year.codigo">{{year.nome}}</option>
        </select>

        <select *ngSwitchCase="'3'" class="form-select form-select-lg mb-3">
            <option selected>Selecione o ano</option>
            <option *ngFor="let year of yearList" [value]="year.codigo">{{year.nome}}</option>
        </select>
    </div>
</div>

<app-vehicle-input-price [testeinput]="testevalor"></app-vehicle-input-price>