.form-container {
    display: flex;
    justify-content: center;
    gap: 9px;
}

.form-container button {
    height: 50px;
    width: 234px;
}

.form-container form {
    width: 76%;
    display: flex;
    justify-content: center;
    gap: 9px;
}

.form-container input {
    text-align: start !important;
    font-size: 20px;
    font-weight: 600;
    color: #3c3b3b;
}

#input-container {
    height: 50px;
}

.display-container {
    text-align: start;
}

.display-container span{
    display: block;
}

.display-container h4 {
    margin: 0
}

.belowAverage p {
    font-size: 138px;
    font-weight: bold;
    text-align: start;
    margin-top: -40px;
}
.aboveAverage p {
    font-size: 130px;
    font-weight: bold;
    text-align: start;
    margin-top: -40px;
}
.average p {
    font-size: 138px;
    font-weight: bold;
    text-align: start;
    margin-top: -40px;
}

.row {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 500px) {
    .form-container {
        display: block;
        text-align: -webkit-center;
    }

    .form-container form {
        width: 49%;
        display: block;
    }

}