.form-container {
    display: flex;
    justify-content: center;
    gap: 9px;
}

.form-container button {
    height: 50px;
    width: 234px;
}

.form-container form {
    width: 76%;
    display: flex;
    justify-content: center;
    gap: 9px;
}

#input-container {
    height: 50px;
}

.display-container {
    text-align: start;
}

.display-container span{
    display: block;
    /* justify-content: center; */
}

.display-container h4 {
    margin: 0
}

.belowAverage p {
    font-size: 138px;
    font-weight: bold;
    text-align: start;
    margin-top: -40px;
}
.aboveAverage p {
    font-size: 130px;
    font-weight: bold;
    text-align: start;
    margin-top: -40px;
}
.average p {
    font-size: 138px;
    font-weight: bold;
    text-align: start;
    margin-top: -40px;
}

.row {
    display: flex;
    justify-content: center;
}