<!-- pega o valor que o usuário tem a intenção de vender o veículo -->
<div class="form-container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="input-group mb-3" id="input-container">
            <span class="input-group-text" id="basic-addon1">R$</span>
            <input type="text" class="form-control" placeholder="Qual o preço que você planeja vender o veículo?"
                aria-label="Username" aria-describedby="basic-addon1" name="price" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Consultar</button>
    </form>
</div>


<!-- mostrar os dados do veículo e se está acima ou abaixo da média -->
<div class="display-container container">
    <div class="aboveAverage" *ngIf="aboveAverage">
        <div class="row">
            <div class="col-4">
                <span><b>Marca:</b> {{ fipeBrand }} </span>
                <span><b>Modelo:</b> {{ fipeModel }} </span>
                <span><b>Ano do modelo:</b> {{ fipeYear }} </span>
            </div>
            <div class="col-6">
                <span><b>Valor do veículo:</b> R$ {{ sellValueInput }} </span>
                <span><b>Valor pela FIPE:</b> {{ getFIPEValue }} </span>
            </div>
            <div class="col-4">
                <span><b>Código FIPE:</b> {{ fipeCode }} </span>
                <span><b>Mês referência:</b> {{ fipeReferenceMonth }} </span>
            </div>
            <div class="col-6" style="color: #ff3333;">
                <h4>Valor acima da média da tabela FIPE</h4>
                <p>
                    {{ testeCalculo }}%
                </p>
            </div>
        </div>
    </div>

    <div class="belowAverage" *ngIf="belowAverage">
        <div class="row">
            <div class="col-4">
                <span><b>Marca:</b> {{ fipeBrand }} </span>
                <span><b>Modelo:</b> {{ fipeModel }} </span>
                <span><b>Ano do modelo:</b> {{ fipeYear }} </span>
            </div>
            <div class="col-6">
                <span><b>Valor do veículo:</b> R$ {{ sellValueInput }} </span>
                <span><b>Valor pela FIPE:</b> {{ getFIPEValue }} </span>
            </div>
            <div class="col-4">
                <span><b>Código FIPE:</b> {{ fipeCode }} </span>
                <span><b>Mês referência:</b> {{ fipeReferenceMonth }} </span>
            </div>
            <div class="col-6" style="color: #4d9900;">
                <h4>Valor abaixo da média da tabela FIPE</h4>
                <p>
                    {{ testeCalculo }}%
                </p>
            </div>
        </div>
    </div>

    <div class="average" *ngIf="average">
        <div class="row">
            <div class="col-4">
                <span><b>Marca:</b> {{ fipeBrand }}</span>
                <span><b>Modelo:</b> {{ fipeModel }} </span>
                <span><b>Ano do modelo:</b> {{ fipeYear }} </span>
            </div>
            <div class="col-6">
                <span><b>Valor do veículo:</b>R$ {{ sellValueInput }} </span>
                <span><b>Valor pela FIPE:</b> {{ getFIPEValue }} </span>
            </div>
            <div class="col-4">
                <span><b>Código FIPE:</b>  {{ fipeCode }} </span>
                <span><b>Mês referência:</b> {{ fipeReferenceMonth }} </span>
            </div>
            <div class="col-6" style="color: #fed11c;">
                <h4>Valor na média da tabela FIPE</h4>
                <p>
                    {{ testeCalculo }}%
                </p>
            </div>
        </div>
    </div>
</div>