.select-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 10px; */
}

.select-data select {
    background-color: #808080;
    color: #fff;
    font-weight: bold;
    width: fit-content;
}